{{- $isVerbatim := true -}}
{{- if isset .Attributes "verbatim" -}}
{{- $isVerbatim = .Attributes.verbatim -}}
{{- end -}}
<figure class="highlight">
    {{- with .Attributes.title }}
    <figcaption>
        {{- if $isVerbatim -}}
        <tt>{{ . }}</tt>
        {{- else -}}
        <span>{{ . }}</span>
        {{- end -}}
    </figcaption>
    {{- end }}
    {{- if transform.CanHighlight .Type }}
    <pre tabindex="0" class="chroma"
    ><code class="language-{{ .Type }}" data-lang="{{ .Type }}">
    {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
    {{- end -}}
  </code></pre>
    {{- else }}
    <pre tabindex="0"
    ><code class="language-{{ .Type }}" data-lang="{{ .Type }}"
    >{{ .Inner }}</code></pre>
    {{- end }}
</figure>